@import url("https://fonts.googleapis.com/css?family=Comic Relief");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imgs/wallpaperDaytime.webp);
  background-size: cover;
  font-family: "Comic Relief", cursive;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.reset_password--warning {
  width: 37vw;
  font-size: 1.2vw;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 2% / 14%;
  letter-spacing: 0.1vw;
  color: aliceblue;
  background-color: rgb(255, 123, 0);
  margin-bottom: 1%;
}

.reset_password--form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 226, 209));
  width: 37vw;
  aspect-ratio: 1 / 0.8;
  border-radius: 2% / 2.8%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.514);
  text-align: center;
  padding: 2%;
  padding-bottom: 0%;
  transition: all 0.8s;

  h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
    word-spacing: 0.3vw;
    color: #026b79;
    margin-bottom: 5%;
  }
}

p {
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
}

.password_explanation--tiny {
  width: 85%;
  height: fit-content;
  background-color: rgba(255, 243, 133, 0.712);
  padding: 1% 2% 1% 2%;
  font-size: 1.1vw;
  line-height: 130%;
  margin: 2%;
}

.input_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% 0 4% 0;
  width: 70%;
  height: 8%;
}

#reset_password--input_password {
  width: 100%;
  height: 100%;
  border-radius: 2% / 15%;
  border-color: #bbbbbb;
  padding: 2%;
  letter-spacing: 0.1vw;
  font-size: 1vw;
}

.btn--password_visibility {
  position: absolute;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-image: url("./imgs/eye.svg");
  background-size: 98%;
  width: 8%;
  aspect-ratio: 1 / 1;
  right: 2%;
}

.btn_password_visibility--eye_off {
  background-image: url("./imgs/eyeOff.svg");
  background-size: 90%;
  margin-top: 1%;
}

.btn--send {
  background-image: linear-gradient(rgb(255, 213, 27), rgb(255, 102, 0));
  cursor: pointer;
  color: white;
  font-family: "Comic Relief", cursive;
  border: none;
  border-radius: 12% / 20%;
  font-size: 1.1vw;
  padding: 1.3%;
  letter-spacing: 0.15vw;
  transition: all 0.2s;
  margin-top: 0.5%;

  &:hover {
    transform: translateY(-1px);
  }
}

.disclaimer {
  position: absolute;
  color: rgb(209, 84, 0);
  bottom: 3%;
  right: 2%;
  font-size: 1.5vw;
}

.result_message {
  color: rgb(2, 63, 231);
  font-size: 1.6vw;
  line-height: 190%;
}

.spinner {
  position: fixed;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-image: url("./imgs/sun.svg");
  width: 8%;
  aspect-ratio: 1 / 1;
  animation: spinner 1.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (768px < width <= 1024px) {
  .reset_password--warning {
    width: 45vw;
    font-size: 1.7vw;
  }

  .reset_password--form {
    width: 45vw;

    h2 {
      font-size: 2.5vw;
    }
  }

  p {
    font-size: 1.8vw;
  }

  .password_explanation--tiny {
    width: 90%;
    font-size: 1.35vw;
  }

  .input_wrapper {
    width: 75%;
    height: 9%;
  }

  #reset_password--input_password {
    font-size: 1.3vw;
  }

  .btn--send {
    font-size: 1.3vw;
    margin-top: 0%;
  }

  .disclaimer {
    font-size: 1.8vw;
  }

  .result_message {
    font-size: 1.8vw;
  }

  .spinner {
    width: 10%;
  }
}

@media (480px < width <= 768px) {
  .reset_password--warning {
    width: 55vw;
    font-size: 2.2vw;
  }

  .reset_password--form {
    width: 55vw;
    aspect-ratio: 1 / 0.85;

    h2 {
      font-size: 3.1vw;
    }
  }

  p {
    font-size: 2.5vw;
  }

  .password_explanation--tiny {
    width: 90%;
    font-size: 1.7vw;
  }

  .input_wrapper {
    width: 75%;
    height: 9%;
  }

  #reset_password--input_password {
    font-size: 1.75vw;
  }

  .btn--send {
    font-size: 1.75vw;
    margin-top: 0.5%;
  }

  .disclaimer {
    font-size: 2.5vw;
  }

  .result_message {
    font-size: 2.35vw;
  }

  .spinner {
    width: 13%;
  }
}

@media (320px < width <= 480px) {
  .reset_password--warning {
    width: 75vw;
    font-size: 2.9vw;
  }

  .reset_password--form {
    width: 75vw;
    aspect-ratio: 1 / 0.9;

    h2 {
      font-size: 4.4vw;
      margin-top: 1%;
    }
  }

  p {
    font-size: 3.5vw;
  }

  .password_explanation--tiny {
    width: 90%;
    font-size: 2.6vw;
  }

  .input_wrapper {
    width: 80%;
    height: 9%;
  }

  #reset_password--input_password {
    font-size: 2.5vw;
  }

  .btn--send {
    font-size: 2.6vw;
    margin-top: 0%;
  }

  .disclaimer {
    font-size: 3.5vw;
  }

  .result_message {
    font-size: 3.6vw;
  }

  .spinner {
    width: 19%;
  }
}

@media (width <= 320px) {
  .reset_password--warning {
    width: 90vw;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    padding: 1.3%;
    margin-bottom: 2%;
  }

  .reset_password--form {
    width: 90vw;
    aspect-ratio: 1 / 1;

    h2 {
      font-size: 5.5vw;
      margin-top: 3.5%;
    }
  }

  p {
    font-size: 4.5vw;
  }

  .password_explanation--tiny {
    width: 90%;
    font-size: 3.7vw;
    letter-spacing: 0.2vw;
    padding: 2% 4% 2% 4%;
  }

  .input_wrapper {
    width: 80%;
    height: 9%;
  }

  #reset_password--input_password {
    font-size: 3.8vw;
  }

  .btn--send {
    font-size: 3.8vw;
    padding: 1.5%;
    margin-top: 0.5%;
  }

  .disclaimer {
    font-size: 4.5vw;
  }

  .result_message {
    font-size: 5vw;
  }

  .spinner {
    width: 24%;
  }
}

.hidden {
  display: none;
}
